.sidenav-container {
  height: 100%;
}

.mat-sidenav-content {
  background-color: darkgray;
  background: url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-nav-list mat-icon {
  margin-right: 10px;
}

a.title {
  color: white;
  text-decoration: none;
}

.card-title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.flex-spacer {
  flex: 1 1 auto;
}

.hidden {
  display: none;
}

.spacer {
  flex: 1 1 auto;
}
